@import url(https://fonts.bunny.net/css?family=jura:300,500) layer(demo);

@layer base, demo;
@layer demo {
	:root {
		--_nav-f-family: "Jura", sans-serif;
		--_nav-btn-transition-duration: 150ms;
		--_nav-btn-clr: light-dark(#222, white);
		--_nav-btn-clr-hover: rgb(254, 154, 0);
		--_nav-btn-clr-expanded: light-dark(var(--txt-light), var(--txt-dark));

		--_nav-bg-open: rgb(137, 75, 0);
		--_nav-bg-open_half: rgb(254, 154, 0);

		--_nav-panel-border-radius: 30px;
		--_nav-panel-transition-duration: 1000ms;
		--_nav-panel-transition-timing-function: cubic-bezier(0.86, 0, 0.672, 1.003);

		--_nav-link-clr: light-dark(var(--txt-light), var(--txt-dark));
		--_nav-link-clr-hover: rgb(254, 154, 0);
		--_nav-link-bg-clr-hover: rgb(137, 75, 0);
	}
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 90px;
	}
	body {
		& > *,
		&::after {
			transition: filter var(--_nav-panel-transition-duration) ease-in-out;
		}
	}
	body:has(nav > ul[aria-hidden="false"]) > *:not(nav),
	body:has(nav > ul[aria-hidden="false"])::after {
		filter: blur(2px) grayscale(1) opacity(0.5);
		z-index: -1;
	}

	nav {
		container: nav inline-size;
		position: fixed;
		top: 0;
		right: 0;
		padding: 1rem;
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			transition: width 600ms var(--_nav-panel-transition-timing-function);
			border-radius: var(--_nav-panel-border-radius) 0 0
				var(--_nav-panel-border-radius);
			height: 100vh;
			z-index: -1;
		}
		&::before {
			width: var(--_nav-bg-w, 0);
			background-color: var(--_nav-bg-open);
		}
		&::after {
			width: var(--_nav-bg-w_after, 0);
			background-color: var(--_nav-bg-open_half);
		}
		&:has([aria-expanded="true"]) {
			--_nav-bg-w: calc(100vw + var(--_nav-panel-border-radius));
			--_nav-bg-w_after: calc(33vw + var(--_nav-panel-border-radius));
		}
	}
	nav > button {
		appearance: none;
		border: none;
		display: flex;
		align-items: center;
		gap: 0.25rem;
		background-color: transparent;
		border-radius: 3px;
		color: var(--_nav-btn-clr);
		transition: color var(--_nav-btn-transition-duration) ease-in-out;
		position: relative;
		z-index: 2;
		& > svg path {
			transition-property: color, scale, rotate;
			transition-duration: var(--_nav-btn-transition-duration);
			transition-timing-function: ease-in-out;
			transition-delay: 0m;
			transform-origin: center center;
		}
		&:focus-visible {
			outline: 1px dashed steelblue;
		}
		&:is(:hover, :focus-visible) {
			--_nav-btn-clr: var(--_nav-btn-clr-hover);
		}
		&::before {
			content: var(--nav-btn-label, "Menu");
			transition: color var(--_nav-btn-transition-duration) ease-in-out;
		}
		&[aria-expanded="true"] {
			--nav-btn-label: "Close";
			--_nav-btn-clr: var(--_nav-btn-clr-expanded);

			& > svg path:is(:nth-of-type(1), :nth-of-type(4)) {
				scale: 0 1;
			}
			& > svg path:nth-of-type(2) {
				rotate: -45deg;
			}
			& > svg path:nth-of-type(3) {
				rotate: 45deg;
			}
		}
	}
	/* slide out nav panel */
	nav > ul {
		position: absolute;
		background-color: light-dark(var(--bg-light), var(--bg-dark));
		border-radius: var(--_nav-panel-border-radius) 0 0
			var(--_nav-panel-border-radius);
		overflow: hidden;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		width: fit-content;
		height: 100svh;
		list-style: none;
		/*counter-reset: nav-counter;*/

		transform: translateX(var(--_nav-panel-translate-x, 100%));
		transition: transform var(--_nav-panel-transition-duration)
			var(--_nav-panel-transition-timing-function);

		/* reveal nav panel*/
		&[aria-hidden="false"] {
			--_nav-panel-translate-x: 0;
			--_nav-link-txt-rotate: 0deg;
			--_nav-link-txt-translate: 0;
		}
	}

	nav > ul > li {
		--_nav-link-transition-duration: 350ms;
		--_nav-link-transition-timing-function: ease-in-out;
		padding: 0;
		margin: 0;
		overflow-y: clip;

		&:nth-child(1) {
			--i: 1;
			margin-block-start: 60px; /* push below nav toggle button */
		}

		& > a {
			--_nav-txt-intro-duration: 300ms;
			--_nav-txt-intro-delay: calc(
				var(--i) * 50ms + var(--_nav-panel-transition-duration) * 1
			);
			--_nav-txt-intro-timing-function: ease-in-out;

			font-family: var(--_nav-f-family);
			letter-spacing: 0.05rem;
			position: relative;
			display: flex;
			font-size: clamp(2rem, 2.5vw + 0.5rem, 5rem);
			font-weight: 700;
			text-transform: uppercase;
			line-height: 1;
			padding: 0.5rem 6rem 0.5rem 2rem;
			text-decoration: none;
			color: var(--_nav-link-clr, black);
			isolation: isolate;

			/* link reveal transition */
			transform-origin: left;
			transform: translateY(var(--_nav-link-txt-translate, 100%));

			transition-property: transform;
			transition-duration: var(--_nav-txt-intro-duration);
			transition-delay: var(--_nav-txt-intro-delay, 0ms);
			transition-timing-function: var(--_nav-txt-intro-timing-function);

			/* the amchor text is contained in a span to allow separate animation */
			& > span {
				display: block;
				transition: transform var(--_nav-link-transition-duration)
						var(--_nav-link-transition-timing-function),
					translate 0ms calc(var(--_nav-link-transition-duration) / 2),
					color 0ms calc(var(--_nav-link-transition-duration) / 2);
			}

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				background-color: var(--_nav-link-bg-clr-hover, black);
				translate: 0 2lh;
				z-index: -1;
				transition: all calc(var(--_nav-link-transition-duration) * 1) ease-in-out;
			}

			/* link hover or focus */
			&:is(:hover, :focus-visible) {
				/* anchor text animation */
				& > span {
					transform: translateY(-2lh);
					translate: 0 2lh;
					color: var(--_nav-link-clr-hover);
				}
				/* background color */
				&::before {
					translate: 0 0;
					transition-duration: calc(var(--_nav-link-transition-duration) * 0.75);
				}
			}
		}
	}

	section {
		width: 100%;
		min-height: 50vh;
		border: 1px solid light-dark(rgba(0 0 0 / 0.2), rgba(255 255 255 / 0.25));
		margin-bottom: 2rem;
		padding: 1rem;
		& h2 {
			margin: 0 0 1rem 0;
			font-size: 1.2rem;
			padding-block-end: 1rem;
			border-bottom: 1px solid
				light-dark(rgba(0 0 0 / 0.2), rgba(255 255 255 / 0.25));
		}
	}
}

/* general styling not relevant for this demo */
@layer base {
	* {
		box-sizing: border-box;
	}
	:root {
		color-scheme: light dark;
		--bg-dark: rgb(16, 24, 40);
		--bg-light: rgb(255, 237, 212);

		--txt-light: rgb(10, 10, 10);
		--txt-dark: rgb(245, 245, 245);
	}

	body {
		background-color: light-dark(var(--bg-light), var(--bg-dark));
		color: light-dark(var(--txt-light), var(--txt-dark));
		min-height: 100svh;
		margin: 0;
		padding: 1rem;
		font-family: system-ui, sans-serif;
		font-size: 1rem;
		line-height: 1.5;
		display: flex;
		place-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 2rem;
		& > * {
			/*outline: 1px dashed red;*/
		}
	}
	h1 {
		margin: 0;
		font-size: 1.2rem;
	}
}
